.jumbotron {
    box-shadow: 5px 5px 7px 0px rgba(135,135,135,0.83);
    background-image: url("../../assets/img/books.jpg");
    background-size: cover;
    height: 500px;
    background-position: center;
}

.myText {
    color: #ffffff;
    font-weight: bold;
    position: relative;
    transform: translateY(100px)
}